//
//  Common (styles-m.css)
//  _____________________________________________
& when (@media-common =true) {
    .page-header {
    }
}

//
//  Desktop 768px (style-l.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__s) {
    .page-header {
        .header.content {
            .panel.header {
                .header.links {
                    float: unset;
                    &:last-child {
                        a {
                            color: @secondary__color;
                        }
                    }

                    .link.authorization-link {
                        a {
                            color: @secondary__color;
                        }
                    }
                }
            }
        }
    }
}


//
//  Mobile 640px (style-l.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    .page-header {

    }
}


